<footer class="footer" id="contacts">
  <div class="container">
    <div class="container-footer">
      <a class="logo-footer" href="index.html">
        <img
          class="logo-img-footer"
          src="/img/logo.svg"
          alt="logo"
          width="127"
          height="93"
        />
      </a>
      <nav>
        <ul class="nav-list-footer">
          <li class="nav-item-footer">
            <a class="nav-link-footer" href="#about">About us</a>
          </li>
          <li class="nav-item-footer">
            <a class="nav-link-footer" href="#tours">Tours</a>
          </li>
          <li class="nav-item-footer">
            <a class="nav-link-footer" href="#gallery">Gallery</a>
          </li>
          <li class="nav-item-footer">
            <a class="nav-link-footer" href="#contacts">Contacts</a>
          </li>
        </ul>
      </nav>
      <div class="address-social">
        <address>
          <ul class="address-list-footer">
            <li class="address-item-footer">
              <a class="address-link-footer" href="tel:+380971231111"
                >+38097-123-11-11</a
              >
            </li>
            <li class="address-item-footer">
              <a
                class="address-link-footer"
                href="email:WondersOfUkraine@gmail.com"
                >WondersOfUkraine@gmail.com</a
              >
            </li>
            <li class="address-item-footer">
              <a
                class="address-link-footer"
                href="https://www.google.com.ua/maps/@50.4851493,30.4721233,14z?hl=ru&entry=ttu&g_ep=EgoyMDI0MTAyNy4wIKXMDSoASAFQAw%3D%3D"
                >Lviv, Zaporyzhka, 198</a
              >
            </li>
          </ul>
        </address>
        <ul class="icon-list-footer">
          <li class="icon-item-footer">
            <a
              class="icon-link-footer"
              href="https://www.instagram.com"
              target="_blank"
            >
              <svg class="" width="20" height="20">
                <use href="/img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="icon-item-footer">
            <a
              class="icon-link-footer"
              href="https://www.facebook.com"
              target="_blank"
            >
              <svg class="" width="20" height="20">
                <use href="/img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="icon-item-footer">
            <a
              class="icon-link-footer"
              href="https://web.telegram.org/"
              target="_blank"
            >
              <svg class="" width="20" height="20">
                <use href="/img/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <p class="footer-text">&copy; All Rights Reserved</p>
  </div>
</footer>
