<footer class="footer" id="contacts">
  <div class="container">
    <a class="logo-footer" href="../index.html">
      <svg width="127" height="82">
        <use href="/img/logo.svg"></use>
      </svg>
    </a>
    <nav>
      <ul class="nav-list-footer">
        <li>
          <a href="">About us</a>
        </li>
        <li>
          <a href="">Tours</a>
        </li>
        <li>
          <a href="">Gallery</a>
        </li>
        <li>
          <a href="">Contacts</a>
        </li>
      </ul>
    </nav>
    <address>
      <a href="tel:+380971231111">+38097-123-11-11</a>
      <a href="email:WondersOfUkraine@gmail.com">WondersOfUkraine@gmail.com</a>
      <a
        href="https://www.google.com.ua/maps/@50.4851493,30.4721233,14z?hl=ru&entry=ttu&g_ep=EgoyMDI0MTAyNy4wIKXMDSoASAFQAw%3D%3D"
        >Lviv, Zaporyzhka, 198</a
      >
    </address>
    <ul>
      <li>
        <a href="">
          <svg class="" width="24" height="24">
            <use href="../img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="">
          <svg class="" width="24" height="24">
            <use href="../img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="">
          <svg class="" width="24" height="24">
            <use href="../img/icons.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
    <p>© All Rights Reserved</p>
  </div>
</footer>
