<section class="modal-menu is-open">
  <div class="container mobile-menu-container">
    <div class="logo-btn-div-modal">
      <img class="logo-modal" src="/img/logo.svg" alt="logo" />
      <button class="modal-btn" type="button">
        <svg class="svg-modal" width="20" height="20">
          <use href="/img/icons.svg#icon-btn-close"></use>
        </svg>
      </button>
    </div>
    <nav>
      <ul class="nav-list-modal">
        <li class="nav-item-modal">
          <a class="nav-link-modal" href="#about">About us</a>
        </li>
        <li class="nav-item-modal">
          <a class="nav-link-modal" href="#tours">Tours</a>
        </li>
        <li class="nav-item-modal">
          <a class="nav-link-modal" href="#gallery">Gallery</a>
        </li>
        <li class="nav-item-modal">
          <a class="nav-link-modal" href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
