<section class="our-tours" id="tours">
  <div class="container">
    <h2 class="tours-main-title">Our tours</h2>

    <ul class="tours-list">
      <li class="tours-item">
        <picture>
          <source
            srcset="
              /img/our-tours/img-1-desc.jpg    1x,
              /img/our-tours/img-1-desc@2x.jpg 2x
            "
            media="(min-width:1440px)"
          />

          <source
            srcset="
              /img/our-tours/img-1-tab.jpg   1x,
              /img/our-tours/img-1-tab2x.jpg 2x
            "
            media="(min-width:835px)"
          />

          <source
            srcset="
              /img/our-tours/img-1-mob.jpg    1x,
              /img/our-tours/img-1-mob@2x.jpg 2x
            "
            media="(max-width:834px)"
          />

          <img
            src="/img/our-tours/img-1-mob.jpg"
            alt="Lake Sinevir"
            width="375"
            height="409"
          />
        </picture>

        <h3 class="tours-sub-title">Lake Synevyr and Shipit waterfall</h3>

        <ul class="list-tours-schedule">
          <li class="item-schedule">
            Departure from Lviv (07:00) / Stryi (08:00)
          </li>

          <li class="item-schedule">
            <p class="schedule-city">
              Pylypets (overview of Shipit waterfall and lunch)
            </p>
          </li>

          <li class="item-schedule">
            Synevyr Pass (photographing and viewing of Carpathian panoramas)
          </li>

          <li class="item-schedule">
            "Synevyr" National Park (brown bear rehabilitation center and
            transition to the lake)
          </li>

          <li class="item-schedule">Stryi (21:00)/Lviv (return by 22:00)</li>
        </ul>

        <div class="wrapper-list-benefits">
          <p class="title-tours-benefits">Included:</p>

          <ul class="list-benefits">
            <li class="list-benefits-item">
              <svg class="icon-bus" width="24" height="24">
                <use href="../img/icons.svg#icon-bus"></use>
              </svg>

              Transfer
            </li>

            <li class="list-benefits-item">
              <svg class="icon-card" width="24" height="24">
                <use href="../img/icons.svg#icon-id-card"></use>
              </svg>

              Travel insurance
            </li>

            <li class="list-benefits-item">
              <svg class="icon-face" width="24" height="24">
                <use href="../img/icons.svg#icon-face"></use>
              </svg>

              Professional guide
            </li>

            <li class="list-benefits-item">
              <svg class="icon-ticket" width="24" height="24">
                <use href="../img/icons.svg#icon-ticket"></use>
              </svg>

              Travel insurance
            </li>
          </ul>
        </div>

        <div class="wrapper-btn-book">
          <button
            class="btn tours-book-btn"
            type="button"
            aria-label="button to book a trip to Synevir"
          >
            Book
          </button>

          <p class="price">Price:</p>

          <p class="price ap-case">2000 Uah</p>
        </div>
      </li>

      <li class="tours-item">
        <img
          srcset="
            /img/our-tours/img-2-desc.jpg    1x,
            /img/our-tours/img-2-desc@2x.jpg 2x
          "
          src="/img/our-tours/img-2-desc.jpg"
          alt="National Open Air Museum"
          width="375"
          height="409"
        />

        <h3 class="tours-sub-title">Ancient History & Vibrant Present</h3>

        <ul class="list-tours-schedule">
          <li class="item-schedule">Departure from Kiev (08:00)</li>

          <li class="item-schedule">
            St. Sophia's Cathedral (iconic UNESCO World Heritage site)
          </li>

          <li class="item-schedule">Golden Gate (historical monument visit)</li>

          <li class="item-schedule">
            Bessarabsky Market (tasting local delicacies)
          </li>

          <li class="item-schedule">
            Kiev Pechersk Lavra (exploration of the significant monastery)
          </li>

          <li class="item-schedule">Return to Kiev by 20:00</li>
        </ul>

        <div class="wrapper-list-benefits">
          <p class="title-tours-benefits">Included:</p>

          <ul class="list-benefits">
            <li class="list-benefits-item">
              <svg class="icon-bus" width="24" height="24">
                <use href="../img/icons.svg#icon-bus"></use>
              </svg>

              Transfer
            </li>

            <li class="list-benefits-item">
              <svg class="icon-card" width="24" height="24">
                <use href="../img/icons.svg#icon-id-card"></use>
              </svg>

              Travel insurance
            </li>

            <li class="list-benefits-item">
              <svg class="icon-face" width="24" height="24">
                <use href="../img/icons.svg#icon-face"></use>
              </svg>

              Professional guide
            </li>

            <li class="list-benefits-item">
              <svg class="icon-ticket" width="24" height="24">
                <use href="../img/icons.svg#icon-ticket"></use>
              </svg>

              Travel insurance
            </li>
          </ul>
        </div>

        <div class="wrapper-btn-book">
          <button
            class="btn tours-book-btn"
            type="button"
            aria-label="Button to book a trip to the National Open Air Museum"
          >
            Book
          </button>

          <p class="price">Price:</p>

          <p class="price ap-case">3000 Uah</p>
        </div>
      </li>

      <li class="tours-item">
        <img
          srcset="
            /img/our-tours/img-3-desc.jpg    1x,
            /img/our-tours/img-3-desc@2x.jpg 2x
          "
          src="/img/our-tours/img-3-desc.jpg"
          alt="Button to book a trip to the Dniester reservoir"
          width="375"
          height="409"
        />

        <h3 class="tours-sub-title">Black Sea Jewel</h3>

        <ul class="list-tours-schedule">
          <li class="item-schedule">Departure from Odessa (08:00)</li>

          <li class="item-schedule">
            Primorsky Boulevard (city's scenic walk)
          </li>

          <li class="item-schedule">
            Potemkin Steps (historical site and great city view)
          </li>

          <li class="item-schedule">
            Odessa Opera and Ballet Theatre (exterior visit)
          </li>

          <li class="item-schedule">Lunch at a local seafood restaurant</li>

          <li class="item-schedule">Return to Odessa by 20:00</li>
        </ul>

        <div class="wrapper-list-benefits">
          <p class="title-tours-benefits">Included:</p>

          <ul class="list-benefits">
            <li class="list-benefits-item">
              <svg class="icon-bus" width="24" height="24">
                <use href="../img/icons.svg#icon-bus"></use>
              </svg>

              Transfer
            </li>

            <li class="list-benefits-item">
              <svg class="icon-card" width="24" height="24">
                <use href="../img/icons.svg#icon-id-card"></use>
              </svg>

              Travel insurance
            </li>

            <li class="list-benefits-item">
              <svg class="icon-face" width="24" height="24">
                <use href="../img/icons.svg#icon-face"></use>
              </svg>

              Professional guide
            </li>

            <li class="list-benefits-item">
              <svg class="icon-ticket" width="24" height="24">
                <use href="../img/icons.svg#icon-ticket"></use>
              </svg>

              Travel insurance
            </li>
          </ul>
        </div>

        <div class="wrapper-btn-book">
          <button
            class="btn tours-book-btn"
            type="button"
            aria-label="Button to book a trip to the National Open Air Museum"
          >
            Book
          </button>

          <p class="price">Price:</p>

          <p class="price ap-case">3500 Uah</p>
        </div>
      </li>
    </ul>

    <button
      class="btn-arrow arrow-left"
      type="button"
      aria-label="button-swiper-left"
    >
      <svg class="icon-arrow-left" width="144" height="1">
        <use href="/img/icons.svg#"></use>
      </svg>
    </button>

    <button
      class="btn-arrow arrow-right"
      type="button"
      aria-label="button-swiper-right"
    >
      <svg class="icon-arrow-right" width="144" height="1">
        <use href="/img/icons.svg#"></use>
      </svg>
    </button>
  </div>
</section>
