<section class="start-travel container" id="form">
  <div class="start-travel-container form-wrap">
    <div class="text-wrap">
      <h3 class="start-travel-title">Start travel</h3>
      <p class="start-travel-dsc dist">
        If you want to get an unforgettable trip, quickly fill out the
        application and we will contact you during the day
      </p>
      <p class="start-travel-dsc">
        We are ready to answer any questions and help choose the best tour
      </p>
    </div>
    <form class="start-travel-form">
      <div class="start-travel-form-wrap">
        <label class="start-travel-form-label" for="user-name">Name</label>
        <input
          class="start-travel-form-input"
          id="user-name"
          type="text"
          placeholder="Enter your name"
          required
          name="user-name"
        />
      </div>

      <div class="start-travel-form-wrap">
        <label class="start-travel-form-label" for="user-phone">Name</label>
        <input
          class="start-travel-form-input"
          id="user-phone"
          type="tel"
          placeholder="+380__-___-__-__"
          required
          name="user-phone"
        />
      </div>
      <div class="start-travel-form-wrap">
        <label class="start-travel-form-label" for="user-comment"
          >Comment</label
        >
        <textarea
          class="start-travel-form-input start-travel-form-comment"
          id="user-comment"
          placeholder="Your message"
          name="user-comment"
        ></textarea>
      </div>

      <button class="start-travel-btn btn" type="submit">Send</button>
    </form>
  </div>
</section>
