.reviews {
  scroll-padding: 16px;
}

.review-cont {
  background-size: 100%;
  background-image: url(../img/reviews/r-bg-mob.jpg);
  background-repeat: no-repeat;
  padding-top: 32px;
  padding-bottom: 32px;
  overflow: hidden;
}

@media screen and (min-resolution: 192dpi) {
  .review-cont {
    background-image: url(../img/reviews/r-bg-mob@2x.jpg);
  }
}
.review-title {
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  margin-bottom: 32px;
}

.block-comment {
  display: flex;
  gap: 16px;
  overflow: auto;
  scrollbar-width: none;
  margin: 0 -16px 32px;
  overflow-x: auto;
  padding: 0 16px;
}
.name-icon-block {
  background: transparent;
  display: block;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 32px;
  min-width: 310px;
  height: 305px;
}

.name-block {
  display: flex;
  align-items: start;
  margin-bottom: 32px;
}

.name-star {
  display: block;
  margin: 11px 0;
}

.foto-client {
  margin-right: 24px;
}

.name-client {
  font-family: 'Jomolhari', sans-serif;
  font-size: 18px;
}

.icon-star-item {
  display: flex;
  justify-content: center;
  gap: 4px;
}
.icon-star {
  fill: #ae990b;
}

.button-cont {
  display: flex;
  justify-content: center;
}
.scroll-btn {
  background-color: transparent;
  border: none;
}
.icon-scroll {
  fill: #5a5959;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-scroll:hover {
  fill: #fff;
}

@media screen and (min-width: 835px) {
  .review-cont {
    background-image: url(../img/reviews/r-bg-tab.jpg);
    padding: 58px 32px;
  }

  @media screen and (min-resolution: 192dpi) {
    .review-cont {
      background-image: url(../img/reviews/r-bg-tab@2x.jpg);
    }
  }

  .review-title {
    font-size: 64px;
    margin-bottom: 42px;
  }

  .block-comment {
    gap: 32px;
    margin: 0 -32px 97px;
    padding: 0 32px;
  }

  .name-client {
    font-size: 20px;
  }

  .button-cont {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1440px) {
  .review-cont {
    background-image: url(../img/reviews/r-bg-desc.jpg);
    padding-top: 64px;
    padding-bottom: 64px;
  }

  @media screen and (min-resolution: 192dpi) {
    .review-cont {
      background-image: url(../img/reviews/r-bg-desc@2x.jpg);
    }
  }

  .name-icon-block {
    min-width: 270px;
  }

  .button-cont {
    justify-content: space-around;
  }
}
