/* Styles for Mobile devices */

.start-travel {
  margin-top: 80px;
  margin-bottom: 80px;
  width: 100%;
  height: 800px;
  background-image: url('../img/start-travel/tr-img.jpg');
  display: flex;
  position: relative;
}

.form-wrap {
  position: absolute; /* Меняем на абсолютное позиционирование */
  top: 54px;
  bottom: 54px;
  left: 0;
  right: 0;
  padding: 40px 16px;
  backdrop-filter: blur(30px);
  background: #141a19;
}
.start-travel-title {
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0.01em;

  margin-bottom: 24px;
}

.start-travel-dsc {
  width: 320px;
  margin-bottom: 32px;
}
.dist {
  margin-bottom: 24px;
}

.start-travel-form-label {
  display: block;
  margin-bottom: 8px;

  font-family: 'Jomolhari', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: #fff;
}

.start-travel-form-wrap {
  margin-bottom: 12px;
}

.start-travel-form-input {
  border: 1px solid #fff;
  padding: 14px 12px;
  width: 100%;
  font-family: 'Lato', sans-serif;

  background-color: transparent;
  outline: transparent;
}

.start-travel-form-comment {
  height: 102px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.01em;

  resize: none;
}

.start-travel-btn {
  width: 100%;
  height: 54px;
  margin-top: 0;
}

.start-travel-form-input::placeholder {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: #b9b9b9;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 835px) {
  .form-wrap {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 672px;
    height: 70%;

    display: flex;
    padding: 17px 49px 121px 49px;
    justify-content: space-between;
  }

  .start-travel-title {
    margin-bottom: 24px;
  }

  .start-travel {
    background-image: url('../img/start-travel/tr-img.jpg');
    background-size: cover;
    position: left;
    width: 602px;
    height: 786px;
  }
}
